body{
	background: #99FF66;
}
tittle{
	font-size: 60px;
	font-style: comic sans;
	font-weight: 30px
}
h1{
	color: black
}
h2{
	color: blue
}h3{
	color: pink
}h4{
	color: white
}h5{
	color: red
}
table{
	width: 100%

}
table, th, td{
	border: 2px solid black;
	border-collapse: collapse;
}
